In [1]:
import pandas as pd

In [3]:
from sklearn.cluster import MeanShift

In [4]:
candy = pd.read_csv('../data/candy.csv')
candy

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113

In [6]:
# Drop this categorical column becasuse its not trainable
x = candy.drop('competitorname', axis = 1)

In [8]:
meanshift = MeanShift().fit(x)

In [9]:
meanshift.labels_

array([2, 2, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 2, 1, 2, 0, 1, 2, 0, 0, 1, 2, 2, 0, 1, 2, 2, 2, 1, 1, 1, 2, 2,
       0, 0, 0, 2, 0, 0, 0, 2, 2, 2, 2, 0, 2, 0, 0, 0, 2, 1, 0, 0, 2, 2,
       2, 1, 2, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 2, 0, 0, 0, 0, 1])

In [10]:
max(meanshift.labels_)

2

Meanshift created 3 groups [0,1,2]

In [21]:
candy['label'] = meanshift.labels_

In [22]:
candy

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,group,label
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,2,2
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,2,2
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0,0
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0,0
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Twizzlers,0,1,0,0,0,0,0,0,0,0.220,0.116,45.466282,0,0
81,Warheads,0,1,0,0,0,0,1,0,0,0.093,0.116,39.011898,0,0
82,WelchÕs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313,0.313,44.375519,0,0
83,WertherÕs Original Caramel,0,0,1,0,0,0,1,0,0,0.186,0.267,41.904308,0,0
84,Whoppers,1,0,0,0,0,1,0,0,1,0.872,0.848,49.524113,1,1